.highlight {
    background-color: #f0f8ff;
    border-left: 4px solid #4682b4;
    padding-left: 10px;
    margin: 20px 0;
}

ol li {
    margin-bottom: 0.5rem;
    color: #6464ff;
    padding-left: 15px;
}

ul li {
    margin-bottom: 0.5rem;
    color: #6464ff;
    padding-left: 15px;
}

p.external-link a {
    text-decoration: none;
    color: #ff4500;
}

a:visited {
    color: #9370d8;
}

a:hover {
    color: #ff6347;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-size: 2rem;
    color: #2f4f4f;
    margin-bottom: 20px;
    border-bottom: 2px solid #2f4f4f;
    padding-bottom: 10px;
}

body {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #dbdbdb, #ffedd9);
}


footer {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    color: #696969;
    text-align: center;
    padding: 10px;

    border-top: 1px solid #ccc;

    margin-top: 20px;

}


main {
    padding: 20px;
    

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #c58c58;
    color: white;
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid black
}

h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #2f4f4f;
    padding-bottom: 10px;
    font-size: 2rem;

}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 640px;
}

@media (max-width: 768px) {
    .topnav a {
        float: none;
        width: 100%;
        text-align: left;
    }

    main {
        padding: 10px;
    }

    .center {
        width: 75%;
    }
}

@media (max-width: 320) {
    .topnav a {
        padding: 10px;
        font-size: 14px;
    }

    h1 {
        font-size: 1.5em;
    }

    p, ol, ul, footer {
        font-size: 0.9em;
    }

    .center {
        width: 100%;
    }

    .responsive-img {
        width: 50%;
    }
}